<mat-table [dataSource]="comments">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let comment"> {{comment.name}} </mat-cell>
    </ng-container>
    
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
            <button mat-raised-button color="primary" aria-label="Adicionar Comentário" (click)="onAdd()">
                <mat-icon>add</mat-icon>
                <span style="font-size: 12px;">Adicionar Comentário</span>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let comment" class="action-column">
            <button mat-icon-button color="accent" aria-label="Editar Comentário" (click)="onEdit(comment)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Remover Comentário" (click)="onDelete(comment)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>