<div class="filter-container">
    <mat-form-field>
      <mat-label>Filtrar por Status</mat-label>
      <mat-select [(ngModel)]="statusFilter">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar Filtro</button>
  </div>

<mat-table [dataSource]="tickets">
    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.createdAt | date:'dd/MM/yyyy HH:mm:ss' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="personName">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.personName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.comment.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.topic.category.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="topic">
        <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.topic.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef> Prioridade </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.priority}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" aria-label="Adicionar Chamado" (click)="onAdd()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let ticket" class="action-column">
            <button mat-icon-button color="accent" aria-label="Editar Assunto" (click)="onEdit(ticket)">
                <mat-icon *ngIf="authService.hasRole('ADMIN') 
                        && ticket.status != 'Cancelado'
                        && ticket.status != 'Concluído'" >edit</mat-icon>
                <mat-icon *ngIf="!authService.hasRole('ADMIN') 
                            || ticket.status == 'Cancelado'
                            || ticket.status == 'Concluído'">visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="authService.hasRole('ADMIN')" aria-label="Remover Assunto" (click)="onDelete(ticket)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>