<div style="width: 350px;">
	<h1 mat-dialog-title>Cadastro de {{data.title}}</h1>
	
	<div mat-dialog-content [formGroup]="form">
		<mat-form-field class="col-12">
			<mat-label>Nome</mat-label>
			<input matInput formControlName="inputName">
			<mat-error *ngIf="form.get('inputName')?.hasError('required')">Nome é obrigatório</mat-error>
		</mat-form-field>

		<div *ngIf="data.options">
			<mat-form-field class="col-12">
				<mat-label>Selecione uma {{data.selectTitle}}</mat-label>
				<mat-select formControlName="selectedOption">
					<mat-option *ngFor="let option of data.options" [value]="option.id">
						{{ option.name }}
					 </mat-option>
				</mat-select>
				<mat-error *ngIf="form.get('selectedOption')?.hasError('required')">Selecione uma opção</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div mat-dialog-actions>
		<div class="ms-auto p-2">
			<button mat-button (click)="close()">Cancel</button>
			<button mat-button color="primary" type="submit" (click)="onSubmit()" cdkFocusInitial>Ok</button>
		</div>
	</div>
</div>