<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" opened class="custom-sidenav text-white">
		<div class="custom-sidenav-title">Olá, {{ greetingMessage }}!</div>
		<mat-nav-list>
			<a matListItemLine routerLink="/chamados" class="text-white ml-2" 
									[class.active]="isActive('/chamados')">Chamados</a>

			<div *ngIf="hasPermission('ADMIN')">
				<mat-divider class="m-1"></mat-divider>
				<span class="ml-2 p-2 font-bold d-inline-flex align-items-center" style="font-size: 1.2em;">Cadastros</span>
				<mat-divider class="m-1"></mat-divider>

				<ul class="list-unstyled">
					<li>
						<a matListItemLine routerLink="/chamados/topics" class="text-white ml-4"
							[class.active]="isActive('/chamados/topics')">Tópicos</a>
					</li>
					<li>
						<a matListItemLine routerLink="/chamados/categories" class="text-white ml-4"
							[class.active]="isActive('/chamados/categories')">Categorias</a>
					</li>
					<li>
						<a matListItemLine routerLink="/chamados/comments" class="text-white ml-4"
							[class.active]="isActive('/chamados/comments')">Comentários</a>
					</li>
				</ul>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>

			<span class="m-4">{{ title }}</span>

			<div class="ms-auto">
				<button mat-icon-button class="btn float-end" aria-label="Logout" (click)="logout()">
					<mat-icon>logout</mat-icon>
				</button>
				
				<button mat-icon-button class="btn float-end" aria-label="User">
					<mat-icon>person</mat-icon>
				</button>

				<button *ngIf="hasPermission('ADMIN')" mat-icon-button class="btn float-end" aria-label="User add" (click)="cadUser()" >
					<mat-icon>person_add</mat-icon>
				</button>
			</div>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
