<div style="width: 600px; max-height: 700px;">
	<h1 mat-dialog-title>Chamado</h1>
	
	<div mat-dialog-content [formGroup]="form">
		<mat-form-field class="col-12">
			<mat-label>Login</mat-label>
			<input matInput formControlName="login">
			<mat-error *ngIf="form.get('login')?.hasError('required')">Nome é obrigatório</mat-error>
			<mat-error *ngIf="form.get('login')?.hasError('usuarioExistente')">Usuário já existe</mat-error>
		</mat-form-field>

      <mat-form-field class="col-12">
			<mat-label>Senha</mat-label>
			<input matInput formControlName="password" type="password">
			<mat-error *ngIf="form.get('password')?.hasError('required')">Nome é obrigatório</mat-error>
		</mat-form-field>
		  	
		<mat-form-field class="col-12">
			<mat-label>Permissão</mat-label>
			<mat-select formControlName="role">
            <mat-option value="USER">Usuário</mat-option>
				<mat-option value="ADMIN">Admin</mat-option>
			</mat-select>
	  </mat-form-field>

		<mat-form-field class="col-12">
			<mat-label>Nome</mat-label>
			<input matInput formControlName="name">
			<mat-error *ngIf="form.get('name')?.hasError('required')">Nome é obrigatório</mat-error>
		</mat-form-field>
		
		<mat-form-field class="col-12">
			<mat-label>Celular</mat-label>
			<input matInput formControlName="cellphone" type="number">
			<mat-error *ngIf="form.get('cellphone')?.hasError('required')">Nome é obrigatório</mat-error>
		</mat-form-field>
	</div>

	<div mat-dialog-actions>
		<div class="ms-auto p-2">
			<button mat-button (click)="close()">Cancel</button>
			<button mat-button color="primary"
				(click)="save()" cdkFocusInitial>Cadastrar</button>
		</div>
	</div>
</div>